.container {
  --primary: #eec;

  .sticky {
    position: fixed;
    top: 0;
    right: 0;
  }

  .header {
    background: #555;
    color: #f1f1f1;
    margin: 0 15px;

    .words {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;
      padding: 0 1rem 1rem 1rem;

      .word {
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.2rem;
        border: 2px solid var(--primary);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;

        &.selected {
          color: #000;
        }
      }
    }
  }

  .defs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .def-container {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 0.2rem;
      border: 2px solid var(--primary);
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

      .placeholder {
        text-align: center;
        background: var(--primary);
        padding: 0.5rem;
      }

      .def {
        padding: 1rem 0;
      }
    }
  }
}

.hidden {
  display: none;
}

.selected {
  background: var(--primary);
}
