<div class="container" *ngIf="words && defs; else loading">
  <div class="sticky header" #headerContainer>
    <h3 class="count-down">
      <app-count-down
        [endMinutes]="20"
        (submitted)="submitted()"
        (timeExpired)="timeExpired()"
      ></app-count-down>

      <div class="center">
        Words Remaining: {{ probe?.words | wordsRemaining }}
      </div>
    </h3>
    <div class="words">
      <div
        class="word"
        *ngFor="let word of words"
        (click)="selectWord(word.displayName)"
        [class.selected]="word.selected"
        [class.assigned]="word.assigned"
      >
        {{ word.displayName }}
      </div>
    </div>
  </div>

  <div class="defs" #defContainer>
    <div class="def-container" *ngFor="let def of defs">
      <div
        class="placeholder"
        *ngIf="def.assignedWord"
        (click)="assignWord(def)"
      >
        {{ def.assignedWord }}
      </div>
      <div class="def" (click)="assignWord(def)">{{ def.definition }}</div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading">...Loading</div>
</ng-template>
