.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;

  .timer {
    span {
      padding-right: 0.2rem;
    }
  }

  .submit {
    right: 0.5rem;
    border-radius: 0.2rem;
    position: absolute;
  }
}

@media only screen and (max-width: 576px) {
  .timer-container {
    justify-content: start;
  }
}
