<div class="timer-container">
  <div *ngIf="timeDifference > 0; else timesUp">
    <div class="timer">
      <span>Time: </span>

      <span id="minutes" *ngIf="minutesToEndDate > 0">
        {{ minutesToEndDate }}m
      </span>

      <span id="seconds"> {{ secondsToEndDate }}s</span>
    </div>
  </div>

  <button
    class="submit"
    [disabled]="timeDifference <= 0"
    type="button"
    (click)="submit()"
  >
    Submit
  </button>
</div>

<ng-template #timesUp>
  <div class="timer">Times Up</div>
</ng-template>
