.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .timer {
    span {
      padding-right: 0.2rem;
    }
  }

  .submit {
    padding: 0.5rem 1rem;
    background: azure;
    border: 2px solid #eec;
    right: 0.5rem;
    border-radius: 0.2rem;
    position: absolute;
  }
}
