button {
  padding: 0.5rem 1rem;
  background: azure;
  border: 2px solid #eec;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
