.container {
  --primary: #3f51b5;

  display: grid;
  place-content: center;
  height: 100vh;

  .are-u-ready {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .instruct {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .begin {
    display: flex;
    justify-content: center;
  }
}
